@model IList<PositionViewModel>
<h1>Position List Information</h1>
@if (TempData["info"] != null)
{
    <div class="alert alert-success">
        @TempData["info"]
    </div>

}

<table class="table table-hover" id="PositionTable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Level</th>
            @if(User.IsInRole("HR"))
            {
              <th scope="col">Action</th>
            }
           
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@index</th>
                <td>@item.Code</td>
                <td>@item.Name</td>
                <td>@item.Level</td>
                @if (User.IsInRole("HR"))
                {
                    <td>
                        <div class="btn btn-group p-1">
                            <a href="/Position/Edit?id=@item.Id" class="btn btn-primary" role="button">Edit</a>
                            <a class="btn btn-primary" asp-action="Delete" asp-controller="Position" asp-route-id="@item.Id" onclick="return confirm('Are you Sure to Delete this record?');">Delete</a>
                        </div>
                    </td>
                }
            </tr>
            index++;
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#PositionTable').DataTable();
    });
</script>